---
version: 2

# steps in common
install_cleanup: &install_cleanup
  name: Install dependencies for cleanup job
  command: |
    pip install docker-compose awscli
install_dependencies: &install_dependencies
  name: Install dependencies
  command: |
    apk add --no-cache py-pip
    pip install awscli


jobs:
  sts:
    docker:
      - image: governmentpaas/awscli
    steps:
      - run: apk add --no-cache git
      - checkout
      - run: mkdir -p /workspace/.aws
      - run:
          name: Create AWS config file with temp credentials
          command: |
            export AWS_ACCESS_KEY_ID=$IAM_ID
            export AWS_SECRET_ACCESS_KEY=$IAM_KEY
      - run:
          name: Calculate Terraform workspace from current branch
          command: |
            BRANCH_STEM=${CIRCLE_BRANCH/\/*//}
            ENVIRONMENT=$(echo -e 'feature-dms fmdev\ndevelop testing\nrelease/ uat\nplay-env/ play\npreprod/ preprod\nmaster production' | awk -vX=$BRANCH_STEM '$1 == X { print $2 }')
            echo "ENVIRONMENT=${ENVIRONMENT:-feature}" > /workspace/.env
            echo "Terraform environment is now ${ENVIRONMENT}"
      - persist_to_workspace:
          root: /workspace
          paths:
            - .aws/credentials
            - .env

  cleanup:
    docker:
      - image: python:2
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: ~/
      - run: *install_cleanup
      - run:
          name: install from cli
          command: |
            . ~/.env
            python --version
            #python readfromfileandeachcmd.py aws_commands.txt


workflows:
  version: 2
  build:
    jobs:
      - sts
      - cleanup:
          requires:
            - sts
          filters:
            branches:
              only:
                - master
